body {
	background-color: #FFEEBB;
	font-family: "Verdana", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Trebuchet MS", sans-serif;
}

h2, #section-title {
	background-color: #FF8888;
	border-left: 8px solid red;
}

#content {
	max-width: 500px;
	margin: auto;
	text-align: center;
}


p {
	text-align: justify;
}

#section-bio {
	text-align: center;
}

#bio-table {
	width: 100%;
	margin: auto;
}

/* check table dimensions
#bio-table tr, th, td {
	border: 1px solid black;
}
*/

#bio-table th {
	text-align: right;
}

#bio-table .bio-table-colon {
	width: 5%;
	text-align: center;
}

#bio-table .bio-table-contents {
	width: 47.5%;
	text-align: left;
}